%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

%h3 Description:
= @movie.description

%h3 Potatoes:
- if @movie.reviews.any?
  %ul
    - @movie.reviews.each do |r|
      %li #{r.potatoes}
- else
  %p Reviews do not Exist!

= link_to 'Edit info', edit_movie_path(@movie)
= link_to 'Back to movie list', movies_path(@movie)
= link_to 'Add Review', new_movie_review_path(@movie)